{{ form_start(form) }}
{{ form_widget(form) }}
<a class="btn btn-info my-4" href="{{ path('app_equipement_index') }}">Retour</a>
<button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
