{% extends "dashboard.html.twig" %}

{% block title %}
	Creation d'un gite
{% endblock %}

{% block body %}

	<h1>Ajouter un nouveau gite</h1>

	{{ form_start(formGite) }}

	<div class="container">
		<div class="row">
			<div class="col-6">
				{{ form_row(formGite.nom) }}
			</div>
			<div class="col-6">
				{{ form_row(formGite.description) }}
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{{ form_row(formGite.equipements) }}
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				{{ form_row(formGite.surface) }}
			</div>
			<div class="col-4">
				{{ form_row(formGite.chambre) }}
			</div>
			<div class="col-4">
				{{ form_row(formGite.couchage) }}
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_row(formGite.animaux) }}
			</div>
			<div class="col-6">
				{{form_row(formGite.tarifAnimaux)}}
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_row(formGite.tarifBasseSaison) }}
			</div>
			<div class="col-6">
				{{ form_row(formGite.tarifHauteSaison) }}
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{{ form_row(formGite.ville) }}
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_row(formGite.departement) }}
			</div>
			<div class="col-6">
				{{ form_row(formGite.region) }}
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_row(formGite.coordonneeProprio) }}
			</div>
			<div class="col-6">
				{{ form_row(formGite.coordonneeContact) }}
			</div>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Enregistrer</button>
			<button type="reset" class="btn btn-warning">Annuler</button>
		</div>
	</div>

	{{ form_end(formGite) }}

{% endblock %}
