{% extends "base.html.twig" %}

{% block title %}
	{{ gite.nom }}
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="text-center my-2">{{ gite.nom }}</h2>
				<br>
				<p>{{ gite.description }}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<table class="table">
					<tr>
						<th>Ville</th>
						<td>{{ gite.ville }}</td>
					</tr>
					<tr>
						<th>Département</th>
						<td>{{ gite.departement }}</td>
					</tr>
					<tr>
						<th>Région</th>
						<td>{{ gite.region }}</td>
					</tr>
					<tr>
						<th>Surface</th>
						<td>{{ gite.surface }}</td>
					</tr>
					<tr>
						<th>Chambres</th>
						<td>{{ gite.chambre }}</td>
					</tr>
					<tr>
						<th>Couchages</th>
						<td>{{ gite.couchage }}</td>
					</tr>
					<tr>
						<th>Animaux acceptés</th>
						<td>{{ gite.animaux ? 'Oui' : 'Non' }}
						</td>
					</tr>
					{% if gite.animaux == true %}
						<tr>
							<th>Tarif Animaux</th>
							<td>{{ gite.tarifAnimaux }}
								€ / semaine
							</td>
						</tr>
					{% endif %}
					<tr>
						<th>Basse Saison</th>
						<td>{{ gite.tarifBasseSaison }}
							€ / semaine</td>
					</tr>
					<tr>
						<th>Haute Saison</th>
						<td>{{ gite.tarifHauteSaison }}
							€ / semaine</td>
					</tr>
					<tr>
						<th>Coordonnées du propriétaire</th>
						<td>{{ gite.coordonneeProprio }}</td>
					</tr>
					<tr>
						<th>Coordonnées de la personne à contacter</th>
						<td>{{ gite.coordonneeContact }}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h2>Equipements</h2>
				<table class="table">
					{% for equipement in gite.equipements %}
						<tr>
							<td>☑
								{{ equipement.name }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="container">
			<a href="/" class="btn btn-primary">Retour</a>
		</div>
	</div>

{% endblock %}
